
# Junk files
*~
.DS_Store

# Build
target/
bin/
build/
**/node_modules/
/home/simon/git/goobi-plugin-dashboard-extended/module-gui/src/main/webapp/resources/uii/public
/home/simon/git/goobi-plugin-dashboard-extended/module-gui/src/main/webapp/resources/uii/plugin_dashboard_extended_svelte.js
/home/simon/git/goobi-plugin-dashboard-extended/module-gui/src/main/webapp/resources/uii/plugin_dashboard_extended_svelte.js.map
/home/simon/git/goobi-plugin-dashboard-extended/module-gui/src/main/webapp/resources/uii/plugin_dashboard_extended_tags.js

# Eclipse
.project
.classpath
.settings/

# IntelliJ IDEA
.idea
*.iml
